{% extends 'homepage/base.html' %}
{% block title %}
  Publicar receta
{% endblock %}
{% block content %}
{% load static %}

<div class="d-flex p-5 justify-content-start w-100 h-100"> 
    
  <div class="py-5">
    <form method="post" class="bg-light row p-5 col-xl-10  border boder-primary rounded shadow-lg mt-5 ms-md-5" enctype="multipart/form-data">
      <h3 class="row p-lg-3 justify-content-center">Publicar receta</h3>
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success mt-2">Publicar</button>
      <a class='row-2 btn btn-danger p-2 mt-2' href={% url 'home' %}>Cancelar</a>
    </form>
  </div> 
</div>
{% endblock %}